@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --salmon: #f49696;
    --skin: #ef9c7d;
    --blush: #ed7474;
    --dracula: #5a4f65;
    --lime: #f3f8f6;
}

body {
    background-color: var(--lime);
}

html {
    font-family: var(--font-inter) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-capriola) !important;
}

.ant-form {
    .ant-col {
        max-width: 100%;
    }
}
